<ion-tabs>
    <ion-tab-bar slot="bottom">
        <!-- Home Tab -->
        <ion-tab-button tab="home">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <!-- Exercise Tab -->
        <ion-tab-button tab="exercise">
            <ion-icon name="map"></ion-icon>
            <ion-label>Exercise</ion-label>
        </ion-tab-button>
        <!-- User Tab -->
        <ion-tab-button tab="user">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>User</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
